@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #ffffff;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
}

a:link, a:visited {
    color: var(--accent-color);
}
header {
    background-color: #52489c;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
}
header h3 {
    margin-bottom:0px;
}
header a {
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: white;
}
body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0px;
    text-align: center;
    background-color: beige;
}
img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 10px;
    background-color: white;
    box-shadow:5px 5px 10px rgba(0,0,0,5);
}
footer {
    background-color: #52489c;
    margin-top: 200px; ;
    padding-bottom: 1px
}
.hide {
    display: none;
}
.modal {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    display: grid;
    color: #333;
    grid-template-rows: 1fr 1fr 1fr;
}
.close-modal {
    grid-row: 1/2;
    height: 20px;
    width: 20px;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0%;
    justify-self: end;
    align-self: end;
}
.modal img {
    grid-row: 2/3;
    max-height: 100%w;
    align-self: center;
    justify-self: center;
}
@media screen and (min-width: 765px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    header a {
        padding-bottom: 20px;
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
        color: white;
    }

}

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    .modal {
        margin:10%;
    }
    header a {
        padding-bottom: 20px;
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
        color: white;
    }
}