@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --Gold-color: #EFC69B;
    --Red-color: #AF1B3F;
    --Dark-color: #473144;
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #ffffff;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --Headline-font: Lora, Impact, serif
}
header {
    font-family: ;
    text-align: center;
    
}
.links {
    text-align: end;
    border: 0.1px solid hsl(54, 100%, 71%);
    padding: 15px;
}
.links a {
    padding: 30px;
    color: var(--Red-color);
    font-size: larger;
}
body {
    margin: 0;
}
.book_id {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}
.left {
    text-align: end;
    border-right: 1px solid hsl(0, 0%, 0%);
    padding-right: 5px;
}
.main{
    text-align: center;
    max-width: 50%;
}
#title {
    color: var(--Red-color);
}